#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 80px;
    color: #f6f8fa;
  }
  .fixed-top {
    position: fixed;
    top: 0;
    z-index: 1020;
  }
  nav {
    padding: 30px;
  }
  
  nav a {
    color: #e9fca4;
    font-weight: bold;
    padding: 0 10px;
  }
  nav a:hover {
      color: #ffffff;
      text-decoration: none;
    }
  nav a.router-link-exact-active {
    color: #ffffff;
    padding: 0 10px;
  }

  .container-card {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: center;
    flex-wrap: wrap;
  }
  .cardid {
    flex: 1;
    background: #ffffff;
    border: 1px solid #dedede;
    float: left;
    border-radius: 5px;
    padding-bottom: 10px;
    margin: 5px;
    width: 240px;
    margin-bottom: 20px;
  }

  .img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 120px;
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-position: center;
    object-fit: cover;
  }
  